Checks: >
  clang-analyzer-*,
  bugprone-*,
  portability-*,
  performance-*,
  -bugprone-reserved-identifier,
  -clang-analyzer-core.FixedAddressDereference

WarningsAsErrors: ''

HeaderFilterRegex: '^(app|drivers|firmware|diagnostics)/'

FormatStyle: none